/* Actualiza los estilos de los componentes */

.cont_user {
  background-color: rgba(75, 171, 245, 0.806);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.datos {
  display: flex;
  flex-wrap: wrap; /* Ajusta para que las tarjetas se envuelvan en la siguiente línea */
  justify-content: center;
}

.user-card {
  background-color: antiquewhite;
  border: 1px solid black;
  text-align: center;
  width: 200px; /* Ancho fijo para cada tarjeta */
  margin: 10px; /* Añade margen entre las tarjetas */
  padding: 10px;
  border-radius: 10px; /* Agrega un borde redondeado a las tarjetas */
}

.user-card img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px; /* Añade un poco de borde redondeado a las imágenes */
}

.user-card button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Agrega margen superior al botón */
}

.user-card button:hover {
  background-color: #0056b3;
}



